
platforms/windows/win10/.DS_Store
platforms/starnix/.DS_Store
platforms/apple/macOS/.DS_Store
platforms/apple/iOS/.DS_Store
platforms/apple/.DS_Store
platforms/.DS_Store
core/.DS_Store
.DS_Store
